{% extends 'base.html' %}

{% block title %}{{ giude.title }}{% endblock %}
{% block description %}{{ giude.description }}{% endblock %}
{% block og_title %}{{ giude.title }}{% endblock %}
{% block og_description %}{{ giude.description }}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_description %}{{ giude.description }}{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  {% load static %}
  <div class="single-blog-wrapper">
    <div class="single-blog-post-thumb">
      <img src="{% static 'img/bg-img/bg-8.jpg' %}" alt="">
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="regular-page-content-wrapper section-padding-80">
            <div class="regular-page-text">
              <h2>{{ giude.title }}</h2>
              {% autoescape off %}
                {{ giude.content }}
              {% endautoescape %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}