{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% load i18n %}
{% load account %}

{% block content %}
  <div class="contact-area form-center" >
    <div class="contact-info form-center">
        <h2>{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
  </div>
{% endblock %}
