{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% load i18n %}

{% block content %}
  <div class="contact-area form-center" >
    <div class="contact-info form-center">
      <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
        {% if form %}
          <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_password1">新しいパスワード:</label>
              <input type="password" name="password1" placeholder="新しいパスワード" required id="id_password1" class="form-control">
            </div>
            <div class="form-group">
              <label for="id_password2">新しいパスワード（再入力）:</label>
              <input type="password" name="password2" placeholder="新しいパスワード（再入力）" required id="id_password2" class="form-control">
            </div>
            <input type="submit" name="action" value="変更する" class="btn btn-primary mt-4 btn-sm"/>
          </form>
        {% else %}
          <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
