{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% load i18n %}

{% block content %}
<div class="contact-area form-center" >
  <div class="contact-info form-center">
    <h2>ユーザー登録</h2>
    <p>すでにアカウントをお持ちであれば、こちらから<a href="{{ login_url }}">ログイン</a>してください。</p>
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="form-group">
        <label>
          氏名 <span class="text-danger">必須</span>
          {% if form.full_name.errors %}
            <span class="text-danger">{{ form.full_name.errors }}</span>
          {% endif %}
        </label>
        <input type="text" name="full_name" placeholder="氏名" required class="form-control">
      </div>
      <div class="form-group">
        <label>
          氏名カナ <span class="text-danger">必須</span>
          {% if form.name_kana.errors %}
            <span class="text-danger">{{ form.name_kana.errors }}</>
          {% endif %}
        </label>
        <input type="text" name="name_kana" placeholder="氏名カナ" required class="form-control">
      </div>
      <div class="form-group">
        <label for="id_email">
          メールアドレス <span class="text-danger">必須</span>
          {% if form.email.errors %}
            <span class="text-danger">{{ form.email.errors }}</>
          {% endif %}
        </label>
        <input type="email" name="email" placeholder="メールアドレス" required id="id_email" class="form-control">
      </div>
      <div class="form-group">
        <label for="id_password1">
          パスワード <span class="text-danger">必須</span>
          {% if form.password1.errors %}
            <span class="text-danger">{{ form.password1.errors }}</>
          {% endif %}
        </label>
        <input type="password" name="password1" placeholder="パスワード" required id="id_password1" class="form-control">
      </div>
      <div class="form-group">
        <label for="id_password2">
          パスワード(確認用) <span class="text-danger">必須</span>
          {% if form.password2.errors %}
            <span class="text-danger">{{ form.password2.errors }}</>
          {% endif %}
        </label>
        <input type="password" name="password2" placeholder="パスワード(確認用)" required id="id_password2" class="form-control">
      </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-primary mt-5">登録する</button>
    </form>
  </div>
</div>
{% endblock %}
