{% extends "base.html" %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% load i18n %}

{% block content %}
  <div class="single-blog-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="regular-page-content-wrapper section-padding-80">
            <div class="regular-page-text">
              <h2>{% trans "Verify Your E-mail Address" %}</h2>
              {% url 'account_email' as email_url %}
              <p>
                {% blocktrans %}
                  This part of the site requires us to verify that
                  you are who you claim to be. For this purpose, we require that you
                  verify ownership of your e-mail address. 
                {% endblocktrans %}
              </p>
              <p>
                {% blocktrans %}
                  We have sent an e-mail to you for
                  verification. Please click on the link inside this e-mail. Please
                  contact us if you do not receive it within a few minutes.
                {% endblocktrans %}
              </p>
              <p>{% blocktrans %}<strong>Note:</strong>you can still <a href="{{ email_url }}">change your e-mail address</a>.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}