<div class="col-12 col-sm-6 col-lg-4">
  <div class="single-product-wrapper">
    <div class="product-img">
        <img src="{{ product.image.url }}" alt="">
        <img class="hover-img" src="{{ product.image.url }}" alt="">
        <div class="product-favourite">
          {% if user.is_authenticated %}
            <form method="POST" action="{% url 'products:like' product.id %}">
              {% csrf_token %}
              <button type="submit" class="favme fa fa-heart {% if product.id in liked_products %}active{% endif %}"></button>
            </form>
          {% else %}
            <a href="/accounts/login" class="favme fa fa-heart"></a>
          {% endif %}
        </div>
    </div>
    <div class="product-description">
      <a href="{% url 'products:detail' product.slug %}">
        <h6>{{ product.name }}</h6>
      </a>
      <p class="product-price">¥{{ product.price }}</p>
      <div class="hover-content">
          <div class="add-to-cart-btn">
            {% if user.is_authenticated %}
              <a href="#" class="btn essence-btn">Add to Cart</a>
            {% else %}
              <a href="/accounts/login" class="btn essence-btn">Add to Cart</a>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>