<div class="col-12 col-md-4 col-lg-3">
  <div class="shop_sidebar_area mb-50">
    <h6 class="widget-title mb-10">Catagories</h6>
    <div class="catagories-menu">
      <ul id="menu-content2" class="menu-content collapse show">
        <li data-toggle="collapse" data-target="#clothing">
          <a href="#">All</a>
          <ul class="sub-menu collapse show">
            {% for category in category_list %}
              <li><a href="{% url 'products:products-category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="widget color mb-50">
    <p class="widget-title2 mb-30">Color</p>
    <div class="widget-desc">
      <ul class="d-flex">
        <li><a href="#" class="color1"></a></li>
        <li><a href="#" class="color2"></a></li>
        <li><a href="#" class="color3"></a></li>
        <li><a href="#" class="color4"></a></li>
        <li><a href="#" class="color5"></a></li>
        <li><a href="#" class="color6"></a></li>
        <li><a href="#" class="color7"></a></li>
        <li><a href="#" class="color8"></a></li>
        <li><a href="#" class="color9"></a></li>
        <li><a href="#" class="color10"></a></li>
      </ul>
    </div>
  </div>
  <div class="widget brands mb-50">
    <h6 class="widget-title mb-10">Brands</h6>
    <div class="widget-desc">
      <ul>
        {% for brand in brand_list %}
          <li><a href="{% url 'products:products-brand' brand.slug %}">{{ brand.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>