{% extends 'base.html' %}

{% block title %}お問い合わせ{% endblock %}
{% block description %}お問い合わせページになります。{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  <div class="contact-area form-center" >
    <div class="contact-info form-center">
      <h2>Contact Us</h2>
      <p>ご意見ご感想、お問い合わせなど、こちらのフォームよりお気軽にお尋ねください。</p>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>
            お名前 <span class="text-danger">必須</span>
            {% if form.name.errors %}
            <span class="text-danger">{{ form.name.errors }}</span>
            {% endif %}
          </label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>
            メールアドレス <span class="text-danger">必須</span>
            {% if form.email.errors %}
            <span class="text-danger">{{ form.email.errors }}</span>
            {% endif %}
          </label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>
            メールアドレス(確認) <span class="text-danger">必須</span>
          </label>
          {% if form.confirm_email.errors %}
            <span class="text-danger">{{ form.confirm_email.errors }}</span>
          {% endif %}
          <input type="text" name="confirm_email" class="form-control">
        </div>
        <div class="form-group">
          <label>
            お問合せタイトル <span class="text-danger">必須</span>
            {% if form.title.errors %}
              <span class="text-danger">{{ form.title.errors }}</span>
            {% endif %}
            </label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label>
            お問合せ内容 <span class="text-danger">必須</span>
            {% if form.content.errors %}
              <span class="text-danger">{{ form.content.errors }}</span>
            {% endif %}
          </label>
          <textarea name="content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        {% if form.non_field_errors %}
        　　<div class="mb-3"><span class="text-danger">{{ form.non_field_errors }}</span></div>
        {% endif %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="{{ recaptacha_public_key }}"></div>
        <button type="submit" class="btn btn-primary mt-5">送信する</button>
      </form>
    </div>
  </div>
{% endblock %}