{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  <div class="single-blog-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="regular-page-content-wrapper section-padding-80">
            <div class="regular-page-text">
              <h2>お問い合わせ頂きありがとうございます。</h2>
              <p>
                ご記入いただいた情報は無事に送信されました。<br/>
                2営業日以内にご返信させていただきますので<br/>
                今しばらくお待ち下さいませ。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}