{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.name }}の商品一覧ページになります。{% endblock %}
{% block og_title %}{{ category.name }}{% endblock %}
{% block og_description %}{{ category.name }}の商品一覧ページになります。{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{ category.name }}{% endblock %}
{% block tw_description %}{{ category.name }}の商品一覧ページになります。{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  {% load static %}
  <div class="breadcumb_area bg-img" style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="page-title text-center">
            <h2>{{ category.name }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="shop_grid_area section-padding-80">
    <div class="container">
      <div class="row">
        {% include 'includes/products/sidebar.html' %}
        <div class="col-12 col-md-8 col-lg-9">
          <div class="shop_grid_product_area">
            <div class="row">
              <div class="col-12">
                <div class="product-topbar d-flex align-items-center justify-content-between">
                  <div class="total-products">
                    <p><span>{{ product_count }}</span> products found</p>
                  </div>
                  {% include 'includes/products/sort.html' %}
                </div>
              </div>
            </div>
            <div class="row">
              {% for product in products %}
                {% include 'includes/products/product.html' %}
              {% endfor %}
            </div>
          </div>
          {% include 'includes/common/pagination.html' %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}