{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}
{% block description %}{{ product.description }}{% endblock %}
{% block og_title %}{{ product.name }}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{ product.name }}{% endblock %}
{% block tw_description %}{{ product.description }}{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  {% load static %}
  <section class="single_product_details_area d-flex align-items-center">
    <div class="single_product_thumb clearfix">
      <div class="product_thumbnail_slides owl-carousel">
        <img src="{{ product.image.url }}" alt="">
        <img src="{{ product.image.url }}" alt="">
        <img src="{{ product.image.url }}" alt="">
      </div>
    </div>
    <div class="single_product_desc clearfix">
      <span>{{ product.category }}</span>
      <a href="">
        <h2>{{ product.name }}</h2>
      </a>
      <p class="product-price"><span class="old-price">¥{{ product.price }}</span> $49.00</p>
      <p class="product-desc">{% autoescape off %}{{ product.description }}{% endautoescape %}</p>
      <form class="cart-form clearfix" method="post">
        <div class="select-box d-flex mt-50 mb-30">
          <select name="select" id="productSize" class="mr-5">
            <option value="value">Size: XL</option>
            <option value="value">Size: X</option>
            <option value="value">Size: M</option>
            <option value="value">Size: S</option>
          </select>
          <select name="select" id="productColor">
            <option value="value">Color: Black</option>
            <option value="value">Color: White</option>
            <option value="value">Color: Red</option>
            <option value="value">Color: Purple</option>
          </select>
        </div>
        <div class="cart-fav-box d-flex align-items-center">
          <button type="submit" name="addtocart" value="5" class="btn essence-btn">Add to cart</button>
          <div class="product-favourite ml-4">
            {% if user.is_authenticated %}
              <a href="#" class="favme fa fa-heart"></a>
            {% else %}
              <a href="/accounts/login" class="favme fa fa-heart"></a>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
　</section>
{% endblock %}