{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_url %}{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_description %}{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  {% load static %}
  <div class="single-blog-wrapper">
    <div class="single-blog-post-thumb">
      <img src="{% static 'img/bg-img/bg-7.jpg' %}" alt="">
    </div>
    <div class="single-blog-content-wrapper d-flex">
      <div class="single-blog--text">
        <h2>{{ post.title }}</h2>
        <p>   
          Category：
          <a href="{% url 'blog:posts-category' post.category %}" class="category-btn">
            {{ post.category }}
          </a>
        </p>
        <div class="mt-5">
          {% autoescape off %}
            {{ post.content }}
          {% endautoescape %}
        </div>
      </div>
      <div class="related-blog-post">
        {% for popular_post in popular_posts %}
          <div class="single-related-blog-post">
            <img src="{{ popular_post.eyecatch.url }}" alt="">
            <a href="#">
              <h5>{{ popular_post.title }}</h5>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}