{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.description }}{% endblock %}
{% block og_title %}{{ post.title }}{% endblock %}
{% block og_description %}{{ post.description }}{% endblock %}
{% block ogp_type %}article{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{ post.title }}{% endblock %}
{% block tw_description %}{{ post.description }}{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  {% load static %}
  <div class="single-blog-wrapper">
    <div class="single-blog-post-thumb">
      <img src="{% static 'img/bg-img/bg-7.jpg' %}" alt="">
    </div>
    <div class="single-blog-content-wrapper d-flex">
      <div class="single-blog--text">
        <h2>{{ post.title }}</h2>
        <p>   
          Category：
          <a href="{% url 'blog:posts-category' post.category %}" class="category-btn">
            {{ post.category }}
          </a>
        </p>
        <div class="mt-5">
          {% autoescape off %}
            {{ post.content }}
          {% endautoescape %}
        </div>
        <div class="text-center mt-5">
          {% if post.get_previous_by_created_at %}
            <a href="{% url 'blog:post-detail' post.get_previous_by_created_at.slug %}" class="btn btn-sm btn-info mr-2">
              前の記事へ
            </a>
          {% endif %}
          {% if post.get_next_by_created_at %}
            <a href="{% url 'blog:post-detail' post.get_next_by_created_at.slug %}" class="btn btn-sm btn-info">
              次の記事へ
            </a>
          {% endif %}
        </div>
      </div>
      <div class="related-blog-post">
        {% for popular_post in popular_posts %}
          <div class="single-related-blog-post">
            <img src="{{ popular_post.eyecatch.url }}" alt="">
            <a href="#">
              <h5>{{ popular_post.title }}</h5>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}