{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  <div class="container mb-5 padding-top">
    <div class="row">
      {% include 'includes/accounts/sidebar.html' %}
      <div class="col-lg-8">
        <div class="card card-info">
          <div class="card-header text-center text-white bg-primary">
            {{ user.full_name }} さまのアカウント
          </div>
          <div class="card-body">
            テキストサンプル
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}