{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}
{% block ogp_type %}website{% endblock %}
{% block og_image %}{% endblock %}
{% block tw_title %}{{% endblock %}
{% block tw_description %}{{% endblock %}
{% block tw_image %}{% endblock %}

{% block content %}
  <div class="container mb-5 padding-top">
    <div class="row">
      {% include 'includes/accounts/sidebar.html' %}
      <div class="col-lg-8">
        <div class="card card-info">
          <div class="card-header text-center text-black">
            登録している配送先
          </div>
          <div class="card-body">
            <div><a href="{% url 'accounts:register-shipping-address' %}">新しい住所を追加する</a></div>
            <div class="row mt-4">
              {% for shipping_address in shipping_addresses %}
                <div class="col-lg-6 mb-4">
                  <p>{{ shipping_address.name }}</p>
                  <p>{{ shipping_address.post_code }}</p>
                  <p>
                    {{ shipping_address.prefecture }}{{ shipping_address.city }}{{ shipping_address.region }}{{ shipping_address.building_name }}
                  </p>
                  <p>電話番号: {{ shipping_address.phone_number }}</p>
                  <button class="btn btn-primary btn-sm mr-2">編集する</button>
                  <button class="btn btn-danger btn-sm">削除する</button>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}